<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hama.ssm.informationDisclosure.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.hama.ssm.informationDisclosure.entity.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="emp_no" property="empNo" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="CHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time_created" property="timeCreated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, idnumber, enterprise, loginname, deposit, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <!--<include refid="Base_Column_List" />-->
    *
    from tb_user
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="monthlyLoanCountByYear" resultType="int" parameterType="java.lang.String">
    SELECT

        COUNT(t2.user_id) as counts
    FROM
        tb_loan t1
            JOIN
        tb_loanrequest t2 ON t1.REQUEST_ID = t2.ID
        where year(t2.timesubmit) = #{id,jdbcType=VARCHAR}
    GROUP BY YEAR(t2.TIMESUBMIT) , MONTH(t2.TIMESUBMIT);

  </select>


</mapper>