<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hama.ssm.employee.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.hama.ssm.employee.entity.Employee" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="emp_no" property="empNo" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="CHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time_created" property="timeCreated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, emp_no, enabled, login_name, name, time_created
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_employee
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_employee
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hama.ssm.employee.entity.Employee" >
    insert into tb_employee (id, emp_no, enabled, 
      login_name, name, time_created
      )
    values (#{id,jdbcType=VARCHAR}, #{empNo,jdbcType=VARCHAR}, #{enabled,jdbcType=CHAR}, 
      #{loginName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{timeCreated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hama.ssm.employee.entity.Employee" >
    insert into tb_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empNo != null" >
        emp_no,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="timeCreated != null" >
        time_created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="empNo != null" >
        #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=CHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="timeCreated != null" >
        #{timeCreated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hama.ssm.employee.entity.Employee" >
    update tb_employee
    <set >
      <if test="empNo != null" >
        emp_no = #{empNo,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=CHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="timeCreated != null" >
        time_created = #{timeCreated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hama.ssm.employee.entity.Employee" >
    update tb_employee
    set emp_no = #{empNo,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=CHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      time_created = #{timeCreated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>